.about {
  margin: 140px 0;
}

.about__title {
  text-transform: uppercase;

  font: {
    size: 36px;
    weight: 500;
  }
}

.about__wrapped {
  display: flex;
}

.about__line {
  width: 8px;
  background-color: $orange;
  align-self: stretch;
  margin-right: 20px;
}

.about__content {
  font-size: 24px;

  &-normal {
    font-weight: 400;
  }

  &-bold {
    font-weight: 700;
  }
}