.order-step-1 {
  padding-top: 70px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

  &__aside {
    margin-right: 80px;

    @media screen and (max-width: 1919px) {
      margin-right: 20px;
    }
  }

  &__button-wrapper {
    text-align: right;
  }

  &__button {
    text-align: left;
  }
}

.order-step-1 .last-tickets__header {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 30px;
}
