.ticket-seats-info {
  width: 100%;
  display: flex;
  align-items: center;

  &__seats-type {
    font-weight: 400;
    font-size: 16px;
    color: #3E3C41;
    flex-grow: 1;
  }

  &__seats-count {
    font-weight: 500;
    font-size: 16px;
    color: #FFA800;
    margin-right: 15px;
  }

  &__seats-text {
    font-weight: 400;
    font-size: 16px;
    color: #928F94;
    margin-right: 6px;
  }
}