.price-information {
  display: flex;
}

.price-information__seats-price {
  font-weight: 700;
  font-size: 24px;
  color: #2D2B2F;
  margin-right: 3px;
  white-space: nowrap;
}

.price-information__seats-valute {
  font-weight: 400;
  font-size: 24px;
  color: #928F94;
}