.ticket-fiter-form {
  background-color: #3E3C41;
  width: 360px;
  color: #ffffff;

  margin: 15px;
}

.ticket-fiter-form__section {
  padding: 30px;

  border-bottom: 1px solid #ffffff;

  &:last-child {
    border-bottom: none;
  }
}

.ticket-fiter-form__switcher {
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0px;
  }
}

.ticket-fiter-form__section-header {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 15px;
}

.ticket-fiter-form__date-section-group {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
}