.seat-element {
  display: flex;

  &__name {
    width: 240px;
    font-weight: 400;
    font-size: 24px;
  }

  &__count {
    margin-left: 10px;
    font-weight: 700;
  }

  &__price-information {
    width: 200px;
  }
}