.ticket-search-form {
  background-color: #0000007e;
  padding: 0px 20px 50px;
}

.ticket-search-form__group-wrapper {
  &_variant-1 {
    display: flex;
    flex-direction: column;
  }

  &_variant-2 {
    display: flex;
    flex-direction: row;
  }
}

.ticket-search-form__group {
  &_variant-2 {
    &:first-child {
      margin-right: 35px;
    }
  }
}

.ticket-search-form__header {
  color: #ffffff;
  font-size: 30px;
  font-weight: 300;
  margin-top: 60px;
  &_variant-1 {
    padding-left: 10px;
  }
}

.ticket-search-form__input-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.react-datepicker__tab-loop {
  position: absolute;
}

.ticket-search-form__input {
  width: 325px;
  height: 60px;
  margin-right: 40px;
  border-radius: 3px;
  padding: 0px 20px;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  border: none;

  &:last-child {
    margin-right: 0px;
  }

  &::placeholder {
    color: #d0d0d0;
  }

  &:active,
  &:focus {
    outline: none;
  }
}

.ticket-search-form__button-wrapper {
  text-align: right;
}

.ticket-search-form__button {
  margin-top: 50px;
  width: 325px;
}