.header {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $orange;

  &_variant-1 {
    background-image: url('../../shared/assets/images/header-background-images/header-image.png');
  }
  &_variant-2 {
    background-image: url('../../shared/assets/images/header-background-images/header-image-2.png');
  }
}

.logo {
  font-size: 36px;
  font-weight: 900;
  color: #ffffff;
  padding: 10px 0;
}

.header__nav-menu {
  background-color: #292929;
  padding: 15px 0;
}

.header-nav-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0;

  li {
    list-style-type: none;

    font-weight: 300;
    font-size: 30px;
    white-space: nowrap;

    margin-right: 80px;

    a {
      text-decoration: none;
      color: #ffffff;

      &:hover {
        color: $orange;
      }
    }
  }
}

.header__ticket-search-section {
  display: flex;
  justify-content: center;
  &_variant-1 {
    margin-top: 250px;
  }
  &_variant-2 {
    margin-top: 110px;
  }
}

.slogan {
  margin: 0px 10px;
}
