.datefield-input_normal {
  width: 325px;
  height: 60px;
  border-radius: 3px;
  padding: 0px 20px;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  border: none;

  &::placeholder {
    color: #d0d0d0;
  }
}

.datefield-input_small {
  @extend .datefield-input_normal;
  width: 295px;
  height: 43px;
}

.react-datepicker-popper {
  z-index: 5!important;
}