.slogan {
  color: #ffffff;
  font-size: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  &_light {
    font-weight: 100;
  }

  &_bold {
    font-weight: 700;
  }
}