.wagon-type-select {
  width: 120px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wagon-type-select__icon {
  display: block;
  margin-bottom: 10px;
}

.wagon-type-select__type {
  font-weight: 400;
  font-size: 24px;
  color: #928F94;
}