.input-with-label {
  position: relative;
}

.input-with-label__label {
  position: absolute;
  top: 15px;
  left: 15px;
}

.input-with-label__input {
  width: 240px;
  height: 50px;
  padding-left: 15px;
  border: 1px solid #928F94;
  border-radius: 5px;
  &:active, &:focus {
    outline: none;
  }
}