.toggle-button__label {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
}

.toggle-button__input {
  width: 0;
  height: 0;
  opacity: 0;

  &:checked+.toggle-button__toggle {
    border-color: #C4C4C4;
  }
  &:checked+.toggle-button__toggle::before {
    background-color: #C4C4C4;
  }
  &:checked+.toggle-button__toggle::after {
    opacity: 0;
  }
}

.toggle-button__toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: inherit;
  border: 2px solid #ffffff;
  border-radius: 5px;
  transition: 0.1s;

  &::before {
    content: "";
    position: absolute;
    cursor: pointer;
    left: 2px;
    top: 7px;
    height: 2px;
    width: 12px;
    background-color: #ffffff;
    border-radius: 1px;
    transition: 0.1s;
  }

  &::after {
    content: "";
    position: absolute;
    cursor: pointer;
    left: 7px;
    top: 2px;
    height: 12px;
    width: 2px;
    background-color: #ffffff;
    border-radius: 1px;
    transition: 0.1s;
  }
}