.last-ticket-card__panel {
  width: 360px;
  padding: 18px;
  margin-bottom: 17px;
  cursor: pointer;
}

.last-ticket-card__direction-wrapper {
  display: flex;
  justify-content: space-between;
}

.last-ticket-card__options-wrapper {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.last-ticket-card__from {
  text-align: left;
}

.last-ticket-card__to {
  text-align: right;
}

.last-ticket-card__city-name {
  font-weight: 400;
  font-size: 20px;
  margin: 0;
}

.last-ticket-card__railway-station-name {
  font-weight: 400;
  font-size: 16px;
  color: #928F94;
}

.last-ticket-card__option-icon {
  margin-right: 15px;
}

.last-ticket-card__price-container {
  display: flex;
  align-items: flex-end;
}

.last-ticket-card__price-from {
  font-weight: 400;
  font-size: 16px;
  color: #928F94;
  margin-bottom: 5px;
  margin-right: 5px;
}

.last-ticket-card__price {
  font-weight: 700;
  font-size: 36px;
  color: #FFA800;
  margin-bottom: 0;
}

.last-ticket-card__price-valute {
  font-weight: 500;
  font-size: 36px;
  color: #928F94;
  margin-bottom: 0;
}