.cities-search-input {
  position: relative;

  &__cities-list {
    position: absolute;
    top: 50px;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 3px;
    z-index: 2;
    padding: 0;
    min-width: 325px;
    z-index: 5;
  }

  &__cities-list-element {
    list-style: none;
    text-transform: uppercase;
    padding: 15px 25px;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover, &:focus {
      background-color: $orange;
      outline: none;
    }
  }
}