.seats-selection__panel {
  min-width: 960px;
}

.seats-selection__train-choise {
  display: flex;
  align-items: flex-start;
  padding: 35px 20px;

  &_departure {
    justify-content: flex-start;
  }

  &_arrival {
    justify-content: flex-end;
  }
}

.seats-selection__direction-arrow-image {
  display: block;
  height: 60px;
  margin-right: 10px;
}

.seats-selection__button {
  height: 60px;
}

.seats-selection__train-schedule {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  background-color: #f3f3f3;
}


.train-schedule__general-info {
  display: flex;
  align-items: center;
  border-right: 1px dotted #ffffff;
  padding: 20px 30px;
}

.train-schedule__train-icon-wrapper {
  margin-right: 30px;
}

.train-schedule__train-name {
  font-weight: 700;
  font-size: 24px;
}

.train-schedule__train-time-table-info {
  align-items: center;
}

.train-schedule__duration {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px dotted #ffffff;
  padding: 0px 30px;
}

.train-schedule__clock-icon-wrapper {
  margin-right: 10px;

  &>img {
    display: block;
  }
}

.seats-selection__tickets-count {
  padding: 0 20px 60px;
  border-bottom: 1px dashed #C4C4C4;

}

.seats-selection__section-header {
  margin: 30px 0;
}

.tickets-count__section-wrapper {
  display: flex;
  justify-content: space-around;
}

.tickets-count__section {
  width: 240px;
}

.tickets-count__section-description {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;

  &_children {
    color: #928F94;
  }
}

.wagons-type {
  padding: 0 20px 20px;
}

.wagons-type__wrapper {
  display: flex;
  justify-content: center;
}

.wagons-type__wagon-type-select {
  margin-right: 80px;
  :last-child {
    margin-right: 0;
  }
}