%button-shared {
  font: {
    size: 24px;
    weight: 700;
  }

  text-transform:uppercase;

  padding: 0 60px;
  height: 60px;

  color: $button-black;
  background-color: $orange;

  border: 1px solid $orange;
  border-radius: 5px;

  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &:active {
    background-color: #00000000;
    color: $orange;
    box-shadow: none;

  }

  &:disabled {
    background-color: #918F94;
    color: white;
    border-color: #918F94;
    &:hover {
      box-shadow: none;
    }
  }
}


.button__standart {
  @extend %button-shared;
}

.button__standart-white {
  @extend %button-shared;
  color: #ffffff;
  text-transform: none;

}

.button__small {
  @extend %button-shared;
  height: 39px;
  padding: 0 10px;
  color: #ffffff;
  min-width: 228px;
  text-transform: none;
}

.button__transparent {
  @extend %button-shared;
  border-color: $button-black;
  background-color: #00000000;
  height: 39px;
  text-transform: none;

  &:hover {
    color: $orange;
  }

  &:active {
    background-color: $orange;
    color: $button-black;
  }
}

.button__transparent-white {
  @extend %button-shared;
  border-color: #ffffff;
  background-color: #00000000;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3px;
  font-weight: 400;
  font-size: 24px;
  padding: 0 10px;
  min-height: 60px;


  &:hover {
    color: $orange;
  }

  &:active {
    background-color: $orange;
    color: #ffffff;
  }
}