$first-row-top: 110px;
$second-row-top: 132px;
$third-row-top: 170px;
$fourth-row-top: 192px;



.coach-map-fourth {
  height: 300px;
  background-image: url('../../../shared/assets/images/wagon-scheme/fourth.png');
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;

  &__seat {

    &-1 {
      top: $second-row-top;
      left: 163px;
    }

    &-2 {
      top: $first-row-top;
      left: 163px;
    }

    &-3 {
      top: $second-row-top;
      left: 207px;
    }

    &-4 {
      top: $first-row-top;
      left: 207px;
    }

    &-5 {
      top: $second-row-top;
      left: 251px;
    }

    &-6 {
      top: $first-row-top;
      left: 251px;
    }

    &-7 {
      top: $second-row-top;
      left: 295px;
    }

    &-8 {
      top: $first-row-top;
      left: 295px;
    }

    &-9 {
      top: $second-row-top;
      left: 339px;
    }

    &-10 {
      top: $first-row-top;
      left: 339px;
    }

    &-11 {
      top: $second-row-top;
      left: 383px;
    }

    &-12 {
      top: $first-row-top;
      left: 383px;
    }

    &-13 {
      top: $second-row-top;
      left: 427px;
    }

    &-14 {
      top: $first-row-top;
      left: 427px;
    }

    &-15 {
      top: $second-row-top;
      left: 471px;
    }

    &-16 {
      top: $first-row-top;
      left: 471px;
    }

    &-17 {
      top: $second-row-top;
      left: 515px;
    }

    &-18 {
      top: $first-row-top;
      left: 515px;
    }

    &-19 {
      top: $second-row-top;
      left: 559px;
    }

    &-20 {
      top: $first-row-top;
      left: 559px;
    }

    &-21 {
      top: $second-row-top;
      left: 599px;
    }

    &-22 {
      top: $first-row-top;
      left: 599px;
    }

    &-23 {
      top: $second-row-top;
      left: 647px;
    }

    &-24 {
      top: $first-row-top;
      left: 647px;
    }

    &-25 {
      top: $second-row-top;
      left: 691px;
    }

    &-26 {
      top: $first-row-top;
      left: 691px;
    }

    &-27 {
      top: $second-row-top;
      left: 735px;
    }

    &-28 {
      top: $first-row-top;
      left: 735px;
    }

    &-29 {
      top: $second-row-top;
      left: 779px;
    }

    &-30 {
      top: $first-row-top;
      left: 779px;
    }

    &-31 {
      top: $second-row-top;
      left: 823px;
    }

    &-32 {
      top: $first-row-top;
      left: 823px;
    }

    &-33 {
      left: 163px;
      top: $fourth-row-top;
    }

    &-34 {
      top: $third-row-top;
      left: 207px;
    }

    &-35 {
      top: $fourth-row-top;
      left: 207px;
    }

    &-36 {
      top: $third-row-top;
      left: 251px;
    }

    &-37 {
      top: $fourth-row-top;
      left: 251px;
    }

    &-38 {
      top: $third-row-top;
      left: 295px;
    }

    &-39 {
      top: $fourth-row-top;
      left: 295px;
    }

    &-40 {
      top: $third-row-top;
      left: 339px;
    }

    &-41 {
      top: $fourth-row-top;
      left: 339px;
    }

    &-42 {
      top: $third-row-top;
      left: 383px;
    }

    &-43 {
      top: $fourth-row-top;
      left: 383px;
    }

    &-44 {
      top: $third-row-top;
      left: 427px;
    }

    &-45 {
      top: $fourth-row-top;
      left: 427px;
    }

    &-46 {
      top: $third-row-top;
      left: 471px;
    }

    &-47 {
      top: $fourth-row-top;
      left: 471px;
    }

    &-48 {
      top: $third-row-top;
      left: 515px;
    }

    &-49 {
      top: $fourth-row-top;
      left: 515px;
    }

    &-50 {
      top: $third-row-top;
      left: 559px;
    }

    &-51 {
      top: $fourth-row-top;
      left: 559px;
    }

    &-52 {
      top: $third-row-top;
      left: 599px;
    }

    &-53 {
      top: $fourth-row-top;
      left: 599px;
    }

    &-54 {
      top: $third-row-top;
      left: 647px;
    }

    &-55 {
      top: $fourth-row-top;
      left: 647px;
    }

    &-56 {
      top: $third-row-top;
      left: 691px;
    }

    &-57 {
      top: $fourth-row-top;
      left: 691px;
    }

    &-58 {
      top: $third-row-top;
      left: 735px;
    }

    &-59 {
      top: $fourth-row-top;
      left: 735px;
    }

    &-60 {
      top: $third-row-top;
      left: 779px;
    }

    &-61 {
      top: $fourth-row-top;
      left: 779px;
    }

    &-62 {
      top: $fourth-row-top;
      left: 823px;
    }
  }

}